# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env*.local

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Temporary files
*.tmp
*.temp

# Images
*.HEIC
*.heic

# Logs
logs
*.log
